* {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  
  background-color: blue;
  background-image: url("../imgs/background.webp");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  color: white;
}
li {
  margin: 0.4167%;
}
.menu {
  width: 25%;
  
  position: fixed;
  left: 0.8333%;
  
  border: 5px ridge lightblue;
  background-color: rgb(0, 0, 128, 0.2);
  color: rgb(175, 238, 238);
  
  margin: 0.8333%;
  padding: 0.8333%;
}
.content {
  width: 41.6667%;
  
  position: relative;
  left: 13%;
  
  border: 5px ridge lightblue;
  background-color: rgb(0, 0, 128, 0.2);
  color: rgb(0, 8, 105);
  
  margin: auto;
  text-align: center;
}
