<item>
<text>Sitemap</text>
<item>
<text>Home</text>
</item>
</item>
<item>
<text>Games</text>
<item>
<text>Someday a game will come out...</text>
</item>
</item>
<item>
<text>Blogs</text>
<item>
<text>Blogs coming soon!</text>
</item>
</item>
<item>
<text>Art</text>
<item>
<text>Art might be coming soon?</text>
</item>
</item>
